<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <meta name="flexible" content="initial-dpr=2" />
  <title>瑞通供应链金融_商业承兑汇票贴现_企业信贷_商业保理_供应链金融服务平台</title>
  <meta name="keywords" content="供应链金融，票据贴现，企业信贷，银行承兑汇票，商业承兑汇票，应收账款,  票据融资">
  <meta name="description"
    content="瑞通供应链金融服务平台运用科技大数据风控，为企业提供商业承兑汇票贴现、企业信贷、商业保理一站式供应链金融服务，加快企业资金回流，快速解决企业资金难题，高效助力实体企业的发展">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <META HTTP-EQUIV="pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
  <META HTTP-EQUIV="expires" CONTENT="0">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_1085673_5mml59dz5zn.css">

</head>

<body>
  <!--<noscript>
      <strong>We're sorry but hello-world doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>-->
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
<!--<script type="text/javascript" src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>-->

<!-- <script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?440b26f0c54ae1e3c4d8142fd5b7106a";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

    // Abort if browser does not support addEventListener
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
  })(document, window);
</script> -->

<!-- <script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?440b26f0c54ae1e3c4d8142fd5b7106a";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>


<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?0ef774d15d3c058fcfd276cebe173ca3";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script> -->